
<!-- include header -->
<%-include('include/_header-history')%>
<!-- include header -->



    <!-- Main Site --> 
    <main id="site-main">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
            <a href="/history"><i class="fas fa-angle-double-left"></i>back</a>
        </div>
    </div>
        <div class="container">
            <div class="form-title">
                <h1 class="text-style text-uppercase text-center">Update Patient History</h1>
            </div>
    
        <!-- Add appointment form-->
        <!-- form handling-->
<div class="form-container">
 <form action="" method="" id="update_history">
        <div class="new_history">
        <div class="col-two">
            <div class="form-group">
                <label for="transNo" class="text-light">PatientID:</label>
                <input type="hidden" name="id" value="<%=history._id%>">
                <input type="text" name="p_patientID" value="<%=history.p_patientID%>" readonly>
            </div>
            <div class="form-group">
                <label for="name" class="text-light">Patient Name:</label>
                <input type="text" name="p_name" value="<%=history.p_name%>" readonly>
            </div>
        </div>
        <div class="col-two">
            <div class="form-group">
                <label for="email" class="text-light">Patient Email:</label>
                <input type="text" name="p_email" value="<%=history.p_email%>" readonly>
            </div>
            <div class="form-group">
                <label for="phoneNum" class="text-light">Patient Contact Number:</label>
                <input type="text" name="p_phoneNum" value="<%=history.p_phoneNum%>" readonly>
            </div>
        </div>
        <div class="col-three">
            <div class="form-group">
                <label for="transNo" class="text-light">Transaction Number:</label>
                <input type="number" id="p_transNo" name="p_transNo" value="<%=history.p_transNo%>" required>
            </div>
            <div class="form-group">
                <label for="p_date" class="text-light">Date: </label>
                <input type="date" name="p_ap_date" value="<%=history.p_ap_date%>" required>
            </div>
            <div class="form-group">
                <label for="p_time" class="text-light">Time: </label>
                <input type="text" name="p_ap_time" value="<%=history.p_ap_time%>" required>
            </div>
        </div>
        <div class="col-three">
            <div  class="form-group">
                <label for="toothNo" class="text-light">Tooth Number(s): </label>
                <input type="text" name="p_toothNo" value="<%=history.p_toothNo%>" required>
            </div>
            <div  class="form-group">
                <label for="procedure" class="text-light">Procedure: </label>
                <select name="p_procedure" id="#" value="<%=history.p_procedure%>'" > 
                    <option value="" disabled selected>Select your option</option>
                    <option value="Fillings">Fillings</option>
                    <option value="Root Canal">Root Canal</option>
                    <option value="Consultation">Consultation</option>
                    <option value="Fixing Bridge">Fixing Bridge</option>
                    <option value="Dental Implant">Dental Implant</option>
                    <option value="Dental Crown">Dental Crown</option>
                    <option value="X-Ray">X-Ray</option>
                    <option value="Teeth Whitening"> Teeth Whitening</option>
                    <option value="Dental Brace">Dental Brace</option>
                    <option value="Tooth Extraction">Tooth Extraction</option>
                    <option value="Scaling">Scaling</option>						
                    <option value="Others">Others</option>
                </select>
            </div>
            <div  class="form-group">
                <label for="payments" class="text-light">Amount:</label>
                <input type="number" name="p_amount" value="<%=history.p_amount%>" required>
            </div>
        </div> 
        </div>
        <div class="form-group al-end">
            <button type="submit" class="btn text-style text-uppercase update">Submit</button>
        </div>  
    </form>
</div>
 </div>
    </div>
       </main>
        
        <!-- Main Site --> 
    


<!-- include footer -->
<%-include('include/_footer-admin')%>
<!-- include footer --> 